hr{
    width:50%;
    margin-right:50em;
}

p{
    position:relative;
    padding-bottom: 1em;
}

#form{
    margin-left: 50em;
    padding-top: 5em;
}

.label{
  position:relative;
  display: block;
}

.input{
    position:relative;
    display: block;
    margin-bottom:2em;
    border-radius:4%;
    border: solid grey 2px;
}

.invalid{
   border-color:#900;
   background-color:#FDD;
}

.valid{
    border-color:rgb(0, 153, 69);
    background-color:rgb(221, 255, 221);
}
/* 
.input:valid{
    border-color:rgb(8, 214, 26);
    background-color:rgb(221, 255, 232);
} */

.input:focus:invalid{
    outline:none;
}

.btn-register{
    border: solid darkolivegreen 2px;
    padding: 3px;
    border-radius:4%;
}

.btn-register:hover{
    background-color: rgb(97, 155, 209);
}


