body{
    background-color: rgb(245, 156, 73);
}

#reg{
    color: rgb(25, 0, 253);
}

#log{
    margin-left: 95%;
    color: rgb(25, 0, 253);
}

img{
    display: block;
    border-radius: 50%;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    border:groove 10px;
    border-color: darkred;
}