body{
    background-color: sienna;
}
.topnav{
    background-color:burlywood;
    overflow: hidden;
}
.topnav a{
    float:left;
    color: rgb(134, 60, 6);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover{
    background-color: cornflowerblue;
    color: darkblue;
}

.topnav a.active{
    background-color: goldenrod;
    color: darkslateblue;
}

