body{
    background-color: black;
    
}

div{
color:deepskyblue;
margin-left: 1100px;
box-sizing: border-box;

}

img{
    box-shadow: rgb(0, 0, 0);
}


#log{
  margin-top: 20px ;
    display: block;
    color:white; 
    margin-bottom: 20px;
}

#return{
    display: block;
    color:white;
}