<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../assets/css/login.css">
    <title>Log in</title>
</head>
<body>

    <form action="/post-login" method="POST">
        <label for="username" class="ulabel">Please enter your user name</label>
        <input
        type="text"
        class="iuname"
        title="Please enter your username."
        name="lName"
        placeholder="User Name"
        autofocus
        autocomplete="off"
        >
        
        <!-- could add in something here so autocomplete is on after the first time logging in -->
        <label for="username" class="ulabel">Please enter your password</label>
        <input
        type="password"
        class="iupw"
        title="Please enter your password."
        name="lpWord"
        placeholder="password"
        autofocus
        autocomplete="off"
        >
        
        <input type="submit" class="ulabel" name="submit">
    
    </form>

    <img src="../assets/images/whales.jpg" alt="WHALES!">
</body>
</html>
