<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../assets/css/mcleod_reset.css">
    <link rel="stylesheet" href="../assets/css/myaccount.css">
    <title>My Account</title>
</head>
<body>

    <div class="topnav">
        <a href="/myblog">My Blog</a>
        <a class="active"href="/myaccount">My Account</a>
        <a href="/about">About</a>
        <a href="/Logout">Log Out</a>
      </div>

    <div class = "leftnav">
        <a href ="/AccountSettings">Account settings</h>
          <a class="/ChangeUsername">Change username</h>
          <a href ="/ChangePassword">Change password</h>
          <a href ="/EditEmailAddress">Edit email address</h>
    </div>
    
</body>
</html>