{{template "base" .}}

<link rel="stylesheet" href="../static/css/register.css">

<script defer src="../static/jss/validateRegistration.js"></script>
<script src="../static/jss/ajax-reg.js"></script>

{{define "content"}}


<form action="/register-post" method="post" id="form" name="formReg" onsubmit="return validateForm()"
    onload="return inputValidate()">
    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
    <p>Please fill in the form below to register an account</p>

    <hr>

    <label class="label" for="email">Email</label>
    <input type="email" id="email" name="email" required placeholder="Please enter your email" autofocus
        autocomplete="off" class="input" onblur="validateInput('email')" pattern="[^@\s]+@[^@\s]+\.[^@\s]+">
    <p class="form-field-err" id="email-err"></p>

    <label class="label" for="pwd"><strong>Password</strong></label>
    <input type="password" id="pwd" name="pwd" required placeholder="Please enter your Password" autofocus
        autocomplete="off" class="input" minlength="5" onblur="validateInput('pwd')" valid="true">
    <p class="form-field-err" id="pwd-err"></p>


    <label class="label" for="pwd-repeat"><strong>Repeat Password</strong></label>
    <input type="password" id="pwd-repeat" name="pwd-repeat" required placeholder="Please repeat your password"
        autofocus autocomplete="off" class="input" minlength="5" onblur="validateInput('pwd-repeat')" valid="true">
    <p class="form-field-err" id="pwd-rpt-err"></p>


    <button type="submit" class="btn-register" id="#submitbutton"><strong>Submit</strong></button>

</form>

{{end}}