<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../assets/css/register.css">
    <title>Register</title>
</head>
<body>



<div>
    <form action="/register-details" method="POST">
        <label for="uname">Create username</label>
        <input
        type="text"
        title="Enter the username you would like to use."
        id="nameinput"
        name="uname"
        placeholder="user name"
        autofocus
        autocomplete="off"
        >

        <label for="pwinput">Create password</label>
        <input
        type="password"
        title="Enter the password you would like to use."
        id="pwinput"
        name="pword"
        placeholder="password"
        autofocus
        autocomplete="off"
        >
        <input type="submit" id="button" name="submit">
    </form>
</div>
    <img src="../assets/images/moondog.jpg" alt="MOONDOG">

</body>
</html>